#menuBox{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff99;
    border: 5px solid white;
    border-radius: 20px 0;
}

.table1 {
    margin: 0 auto;
    padding: 10px;
}

th, td{
    padding: 2px;
    text-align: center;
    font-size: 18px;
    min-width: 40px;
}

.table1 th td{
    padding: 2px;
    width: 150px;
    height: 100px;
    text-align: center;
    font-size: 18px;
}
/*menu sliders*/
.slider{
    -webkit-appearance: none;
    width: 100%;
    max-width: 190px;
    height: 18px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.6;
    border-radius: 20px;
    align-items: center;
}
.slider:hover{
    opacity: 1;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: grey;
    cursor: pointer;
}
.slider::-moz-range-thumb{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: grey;
    cursor: pointer;
}

#menuTypeKey {
    text-align: center;
}

#menuTotalPrice {
    text-align: center;
}
