body {
    background-color: #58819fd8;
    margin: 0;
}

#main_body {
    width:80vw;
    margin: 100px auto;
}

#background-image {
    position: absolute;
    background-image: url("../images/lake_image.jpeg");
    background-size: cover;
    filter: blur(8px);
    width: 100%;
    height: 100%;
    z-index: -1;
    top:0;
}

/* Defining styles for text */
h1, h2{
    border: 5px solid;
    border-radius: 20px 0;
    padding: 30px;
    text-align: center;
    color: black;
}

h1 {
    margin-top: 0;
    border-color: #22577A;
    background-color: #58819fd8;
}

h2 {
    border-color: #38A3A5;
    background-color: #59a1a2d8;
}

#main_form {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border: 5px solid #000000aa;
    border-radius: 40px 0;
}

/* styles for the forward and backwards buttons */
#progress_buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#progress_buttons button {
    background-color: #ffffff99;
    border: 5px solid white;
    padding: 5px 20px;
    transition: all 2s;
    margin: 0 30px;
    font-size: 20px;
}

#progress_buttons #forward {
    border-radius: 0 15px 15px 0;
}
#progress_buttons #back {
    border-radius: 15px 0 0 15px;
}

#progress_buttons button:hover {
    box-shadow: 5px 5px black;
}

/* Defining the different windows for the user to enter different information */
@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-100px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.window {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: block;
    position: relative;
}

.window.visible {
    opacity: 1;
    display: block;
    animation: slide-in 1s 1 forwards;
}

.window.hidden {
    opacity: 0;
    display: none;
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff99;
    border: 5px solid white;
    border-radius: 20px 0;
}

/* styles for the user details content */
.form-field {
    margin: 10px 0;
}

#weather {
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -40%);
    width: 150px;
}


/* styles for the seat selection */
#seat-selection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff99;
    border: 5px solid white;
    border-radius: 20px 0;
    padding: 10px;
}

.seat-table {
    border: 0px;
}

.seat {
    width: 30px;
    height: 30px;
    border: 0px;
}

.seat button {
    width: 100%;
    height: 100%;
    border: 0px;
}

.seat .booked_seat {
    background-color: #D36135;
    color: black;
}

.seat .empty_seat {
    background-color: #2D7D90;
    color: white;
}

.seat .selected_seat {
    background-color: #FFEDE1;
}

#seat_selection_side {
    position: relative;
}

#hover_element {
    width: 14em;
    background-color: #ffffff99;
    border: 5px solid white;
    border-radius: 20px 0;
    padding: 5px;
}

#hover_element h2 {
    margin: 0px
}

#hover_element p {
    margin: 10px 0;
    text-align: center;
}

@keyframes slowly_fade {
    0% {
        visibility: visible;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}

.error_info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    background-color: #D36135;
    padding: 10px;
}
.error_info.display_animation {
    animation-name: slowly_fade;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-play-state: running;
}

/* styles for booking confirmation */
#confirmation-content {
    background-color: #ffffff99;
    padding: 10px;
    border: 5px solid white;
    border-radius: 20px 0;
}
input.invalid{
    background-color: #ffdddd;
}
select.invalid{
    background-color: #ffdddd;
}