body {
    background-color: green;
}

/* Defining styles for text */
h2 {
    text-align: center;
    margin: 30px 40px;
    background-color: red;
}

#main_form {
    width: 80%;
    margin: 0 auto;
    border: 2px solid black;
}
input{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}

/* Defining the different windows for the user to enter different information */
@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-100px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.window {
    height: 100%;
    margin: 0;
    display: block;
}

.window.visible {
    opacity: 1;
    display: block;
    animation: slide-in 1s 1 forwards;
}

.window.hidden {
    opacity: 0;
    display: none;
}

.window.main_content {
    display: flex;
    background-color: orange;
}

/* styles for the seat selection */
#seat-selection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
}

.seat {
    width: 30px;
    height: 30px;
    border: 0px;
}

.seat button {
    width: 100%;
    height: 100%;
    border: 0px;
}

.seat .booked_seat {
    background-color: green;
}

.seat .empty_seat {
    background-color: lightblue;
}

.seat .selected_seat {
    background-color: blue;
}

#seat_selection_side {
    position: relative;
}

#hover_element {
    background-color: orange;
    width: 14em;
}

#hover_element h2, #hover_element p {
    margin: 0;
    text-align: center;
}

@keyframes slowly_fade {
    0% {
        visibility: visible;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}

.error_info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    background-color: red;
}
.error_info.display_animation {
    animation-name: slowly_fade;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-play-state: running;
}